<!-- templates/base.html -->
{% load static %}
<html>
	<head>
		<title>Peliculas Latinoamericanas</title>
		<link href="https://fonts.googleapis.com/css?family=\Source+Sans+Pro:400" rel="stylesheet">
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>
	<body style="background-color:#F8D440;">
<FONT SIZE-5>
	<div>
		<header>
		<div class="nav-left">
		<center> 
			<h1><a href="{% url 'home' %}">OJO LATINO</a></h1>
		</center>
		</div>
		<center> 
		{% load static %}<img src="{% static 'media/UNO.png' %}" width="1345" height="200" alt="home"/> 
		</center> 

		<div class="nav_right">
			<button type="button" class"btn btn-info"><a href="{% url 'post_new' %}">Agrega un nuevo aporte</a>
		</div>
		<center> 
		{% load static %}<img src="{% static 'media/DOS.png' %}" width="1345" height="600" alt="home"/> 
		</center>
		</div>
		</header>
		{% block content %}
		{% endblock content %}
	</div>
	</body>
</html>
